body{
    background-color: #34495e;
    color: #f1f1f1;
}

.figure-container{
    fill: transparent;
    stroke: #fff;
    stroke-width: 4px;
    -webkit-text-stroke-width: 4px;
    stroke-linecap: round;    
    // &-part{
    //     display: none;
    // }
}